@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<h2>@ViewData["Title"].</h2>

<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfMySSdkSThS9D_NfSvk-_VMEC3ftFm8fWFvxIzUnoeIUzeeg/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>