@{
    ViewData["Title"] = "Liên Hệ";
}

<!-- #######  YAY, I AM THE SOURCE EDITOR! #########-->
<h1 style="color: #5e9ca0;">C&ocirc;ng Ty TNHH Viễn Th&ocirc;ng Đ&ocirc;ng S&agrave;i G&ograve;n</h1>
<h2 style="color: #2e6c80;">Địa chỉ:</h2>
<p>T&ograve;a nh&agrave; Packsimex, số 52 Đ&ocirc;ng Du, phường Bến Ngh&eacute;, Q.1, HCM.</p>
<p>Danh s&aacute;ch hỗ trợ:</p>
<ol style="list-style: none; font-size: 14px; line-height: 32px; font-weight: bold;">
<li style="clear: both;"><img style="float: left;" src="https://html-online.com/img/01-interactive-connection.png" alt="interactive connection" width="45" />Hotline (24/24): 0902 9999 33</li>
<li style="clear: both;"><img style="float: left;" src="https://html-online.com/img/02-html-clean.png" alt="html cleaner" width="45" />Tư vấn b&aacute;n h&agrave;ng (8h-&gt;17h): 091 475 1735</li>
<li style="clear: both;"><img style="float: left;" src="https://html-online.com/img/03-docs-to-html.png" alt="Word to html" width="45" />Tư vấn kỹ thuật: (8h-&gt;17h):</li>
<li style="clear: both;"></li>
</ol>
