@{
    ViewData["Title"] = "Liên Hệ";
}

<h1>Công Ty TNHH Viễn Thông Đông Sài Gòn</h1>
<h2>Địa chỉ: Tầng 1, tòa nhà Packsimex, số 52 Đông Du, Phường Bến Nghé, Quận 1, Tp.HCM</h2>
<h3>Số điện thoại liên hệ: 0902 9999 33</h3>
