@{
    ViewData["Title"] = "Liên hệ";
}
<br />
<table width="100%" border="1" cellpadding="5" cellspacing="5" >
    <tr>
        <td style="background-color:yellow" colspan="3" align="center"><h4><b>Viễn Thông Đông Sài Gòn Hân Hạnh Phục Vụ Quý Khách</b></h4></td>
        
        
    </tr>
    <tr>
        <td style="background-color:gray;color:white; font-weight:bold;" colspan="4">1/ HỒ CHÍ MINH</td>
        
    </tr>
    <tr>
        <td style="background-color:red;color:white; font-weight:bold;" rowspan="4" align="center" width="20%">VP Quận 1 (Tòa nhà Packsimex, 52 Đông Du, Phường Bến Nghé, Quận 1): </td>
        <td style="background-color:aqua">Support (24/7):</td>
        <td style="background-color:palegreen">0902 9999 33</td>
    </tr>
    <tr>
        
        <td style="background-color:aqua">Online Chat</td>
        <td style="background-color:palegreen"><a href="https://facebook.com/vienthongdongsaigon">Click here</a></td>
    </tr>
    <tr>
        
        <td style="background-color:aqua">Tư vấn bán hàng</td>
        <td style="background-color:palegreen">091 475 1735</td>
    </tr>
    <tr>

        <td style="background-color:aqua">Tư vấn kỹ thuật</td>
        <td style="background-color:palegreen">091 772266 2</td>
    </tr>
    <tr>
        <td style="background-color:gray;color:white; font-weight:bold;" colspan="4">2/ HÀ NỘI</td>

    </tr>
    <tr>
        <td style="background-color:red;color:white; font-weight:bold;" rowspan="4" align="center" width="20%">VP Quận 1 (Tòa nhà Packsimex, 52 Đông Du, Phường Bến Nghé, Quận 1): </td>
        <td style="background-color:aqua">Support (24/7):</td>
        <td style="background-color:palegreen">0902 9999 33</td>
    </tr>
    <tr>

        <td style="background-color:aqua">Online Chat</td>
        <td style="background-color:palegreen"><a href="https://facebook.com/vienthongdongsaigon">Click here</a></td>
    </tr>
    <tr>

        <td style="background-color:aqua">Tư vấn bán hàng</td>
        <td style="background-color:palegreen">091 475 1735</td>
    </tr>
    <tr>

        <td style="background-color:aqua">Tư vấn kỹ thuật</td>
        <td style="background-color:palegreen">091 772266 2</td>
    </tr>
    <tr>
        <td style="background-color:gray;color:white; font-weight:bold;" colspan="4">3/ ĐÀ NẴNG</td>

    </tr>
    <tr>
        <td style="background-color:red;color:white; font-weight:bold;" rowspan="4" align="center" width="20%">VP Quận 1 (Tòa nhà Packsimex, 52 Đông Du, Phường Bến Nghé, Quận 1): </td>
        <td style="background-color:aqua">Support (24/7):</td>
        <td style="background-color:palegreen">0902 9999 33</td>
    </tr>
    <tr>

        <td style="background-color:aqua">Online Chat</td>
        <td style="background-color:palegreen"><a href="https://facebook.com/vienthongdongsaigon">Click here</a></td>
    </tr>
    <tr>

        <td style="background-color:aqua">Tư vấn bán hàng</td>
        <td style="background-color:palegreen">091 475 1735</td>
    </tr>
    <tr>

        <td style="background-color:aqua">Tư vấn kỹ thuật</td>
        <td style="background-color:palegreen">091 772266 2</td>
    </tr>
    
   
</table>