@{
    ViewData["Title"] = "Hóa đơn điện tử";
}
<br />
<table border="1" cellpadding="3" cellspacing="3" align="center" width="100%">
    <tr>
        <td><b>STT</b></td>
        <td><b>Ngày</b></td>
        <td><b>Nội Dung</b></td>
        <td><b>Ghi Chú</b></td>
        
    </tr>
    <tr>
        <td>1</td>
        <td>29/6/2017</td>
        <td><a href="https://drive.google.com/open?id=0B0nNnl_qt9U7TWttaVo5XzJJSnc">Tool tạo hóa đơn điện tử</a></td>
        <td><a href="https://docs.google.com/document/d/1qMpamj678y01VgdFhh1Pf_A5l602CO3Swtvd9KxzNtg/edit?usp=sharing">Thông tin tài khoản và mật khẩu demo ( chỉ dành cho CTV )</a></td>
        
    </tr>
    <tr>
        <td>2</td>
        <td>29/6/2017</td>
        <td><a href="https://0106809591-democadmin.vnpt-invoice.com.vn/">Ký số bằng token qua web portal</a></td>
        <td><a href="https://docs.google.com/document/d/1VdV2PwkXHm-ikEKTR8nXLidjkboQRPC-O5yZQOxgI4c/edit?usp=sharing">Thông tin tài khoản và mật khẩu demo ( chỉ dành cho CTV )</a></td>

    </tr>
    
</table>